
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fbfbfb;
	font-weight: 300;
}
p, li {
	font-size: 1.2em;
	color: rgb(70,70,70);
}
li {
margin-bottom:0.4em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
a {color: #ed462f;
}
h2 {
margin-top: 1.5em;
margin-bottom: 0.2em;
}
a:visited {color:#ed462f;}
a:hover {text-decoration: underline;}
h2 a:hover {color: #ed462f;}
.entry-title a {
	color: rgb(50,50,50);

}
#nav {
	background-color: #fbfbfb;
}
#nav a, #nav a:visited {
	color:#ed462f;
}

.color-bar {line-height: 8px;}
.green {background-color: #61c93f;}
.blue {background-color: #2e7ac7;}
.yellow {background-color: #fbcc33;}
.red {background-color: #ed462f;}
.lt-blue {background-color: #2c9cfb;}
.grey {background-color: #f1f1f1;}
a {text-decoration: none;
}

.logo {
	margin-top: 14px;
	margin-bottom: 10px;

}
.center {text-align: center;}
.header {background-color: black;}
.container {width: 70%;margin-left:auto; margin-right: auto;}
#nav {
	text-align: center;
}
#nav ul{
	list-style-type: none;
	padding: 0;
}
#nav ul li {
	display: inline;
	margin-right: 1em;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
#nav ul li:hover{
	text-decoration: underline;
}
 .header-img {
 	background-image: url("/img/kids.jpg");
 	height: 360px;
 	background-size: cover;
 	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
  }

.tagline {
	font-style: italic;
	color: #333;
	font-size: 1.2em;

  }

table {
	margin-top: 24px;
	margin-bottom: 24px;
}
td, th{
	padding: 6px 13px;
    border: 1px solid #ddd;
}

th {
	font-weight: bold;
	background-color: #eee
}

.footer {
	color: #ffffff;
	text-align: center;
}


/* Mobile only CSS */ 
@media (max-width: 567px) {
	.container {width: 92%;margin-left:auto; margin-right: auto;}
	.header-img {height: 300px;}
	#nav ul li {font-size: 0.9em;}
}